/* CUSTOM FONTS */

@font-face {
	font-family: 'Prelude-Regular';
	src: url('$assets/fonts/Prelude-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	--border-shaow-medium: 0rem 2rem 2rem 0.2rem rgba(0, 0, 0, 0.05);
	--border-shaow-large: 1rem 2rem 2rem rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

html,
body {
	font-size: 62.5%;
	font-family: 'Inter Tight', sans-serif;
	overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Responsive Units */
@media screen and (max-width: 75em) {
	/* 1200px */
	html,
	body {
		font-size: 55.5%;
	}
}

@media screen and (max-width: 56.25em) {
	/* 900px */
	html,
	body {
		font-size: 50%;
	}
}

@media screen and (max-width: 37.5em) {
	/* 600px */
	html,
	body {
		font-size: 45%;
	}
}

@media screen and (max-width: 25em) {
	/* 400px */
	html,
	body {
		font-size: 37.5%;
	}
}

@media screen and (min-width: 112.5em) {
	/* 1800px */
	html,
	body {
		font-size: 67.5%;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: 0;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* Global Typography Styles */

h1 {
	font-size: 8rem;
	line-height: 1.1;
	font-weight: bold;
}

h2 {
	font-size: 6rem;
	line-height: 1.2;
	font-weight: bold;
}

h3 {
	font-size: 4rem;
	line-height: 1.3;
}

h4 {
	font-size: 2.8rem;
	line-height: 1.3;
	font-weight: normal;
}
p,
li {
	font-size: 1.8rem;
	line-height: 1.4;
}

p {
	margin-bottom: 1rem;
}

/* Responsive Typography */
@media screen and (max-width: 75em) {
	/* 1200px */
	h1 {
		font-size: 7rem;
	}

	h2 {
		font-size: 5rem;
	}

	h3 {
		font-size: 3.5rem;
	}

	h4 {
		font-size: 2.3rem;
	}
	p,
	li {
		font-size: 1.6rem;
	}
}

/* UTILITY CLASSES */
.dark-grey {
	color: #5e5e5e;
}

.default-margin {
	margin-left: 15vw;
	margin-right: 20vw;
	max-width: 95rem;
}

.underscore {
	background-color: #5e5e5e;
	height: 0.4rem;
	width: 4rem;
}

.link {
	text-decoration: underline;
}

.mt-xs {
	margin-top: 0.8rem;
}

.mt-s {
	margin-top: 1.6rem;
}

.mt-m {
	margin-top: 3.2rem;
}

.mt-l {
	margin-top: 6.4rem;
}

.mb-xs {
	margin-bottom: 0.8rem;
}

.mb-s {
	margin-bottom: 1.6rem;
}

.mb-m {
	margin-bottom: 3.2rem;
}

.mb-l {
	margin-bottom: 6.4rem;
}

.mr-xs {
	margin-right: 0.8rem;
}

.mr-s {
	margin-right: 1.6rem;
}

.mr-m {
	margin-right: 3.2rem;
}

.mr-l {
	margin-right: 6.4rem;
}

.ml-xs {
	margin-left: 0.8rem;
}

.ml-s {
	margin-left: 1.6rem;
}

.ml-m {
	margin-left: 3.2rem;
}

.ml-l {
	margin-left: 6.4rem;
}

.bold {
	font-weight: bold;
}

.semi-bold {
	font-weight: 500;
}

.bs-m {
	box-shadow: var(--border-shaow-medium);
}

.bs-l {
	box-shadow: var(--border-shaow-large);
}
